* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.App-header {
    /*background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    /*color: white;*/
}

.title {
    font-size: xx-large;
    align-content: center;
}

.description {
  color: #5e545e;
}

.search_box, input {
    width: 60%;
    padding: 15px;
    white-space: nowrap;
    position: relative;
}

.search-btn {
    margin-left: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: row;
    /* border: 1px solid black; */
    padding: 80px 50px;
}


.img-avatar {
    width: 10%;
}

.card {
    margin: 25px;
}

.searchbar-nav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

/*.card {*/
/*    padding: 1rem;*/
/*    border: #ccc 1px dotted;*/
/*    margin: 0.7rem 0;*/
/*}*/

/*.cell {*/
/*    border: 1px solid black;*/
/*    padding: 5px;*/
/*}*/


